<div class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> Hakkımda</span> Ut congue augue non tellus bibendum, in
      varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio

    </p>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <img class="logom"src="/assets/images/logo-black.png" alt="">
    <p class="menu">
      <a href="#"> Ana Sayfa</a> | <a href="#"> Hakkımda</a> |

      <a href="#"> İletişim</a>
    </p>
    <p class="name">Company Name &copy;2022 </p>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>Samsun, Atakum</p>
    </div>
    <div>
      <i class="fafa-phone"></i>
      <p>(+00) 0000 000 000</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"> ozgurmuslu58@gmail.com</a></p>
    </div>
  </div>

</div>
